{
  "plugins": [
    "@prettier/plugin-php",
    "prettier-plugin-blade",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade",
        "tabWidth": 2,
        "sortTailwindcssClasses": true,
        "wrapAttributes": "auto",
        "wrapLineLength": 120
      }
    },
    {
      "files": ["*.php"],
      "options": {
        "parser": "php",
        "tabWidth": 4,
        "printWidth": 120
      }
    }
  ]
}
